{% extends 'base.html' %}

{% block content %}

{% for product in products.all %}

<div class="row pt-3">

    <div class="col-2" onclick="window.location='{% url 'details' product.id %}';" style="cursor: pointer;">
        <img src="{{ product.icon.url }}" class="img-fluid"/>
    </div>

    <div class="col-7">
        <h1 onclick="window.location='{% url 'details' product.id %}';" style="cursor: pointer;">{{ product.title }}</h1>
        <p>{{product.summary}}</p>
    </div>

    <div class="col-3">
        <a href="javascript: document.getElementById('upvote{{ product.id }}').submit()">
        <button class="btn btn-primary btn-lg btn-block">
            Upvote <span class="oi oi-thumb-up"></span> {{ product.votes_total }}
            <form method="POST" action="{% url 'upvote' product.id %}" id="upvote{{ product.id }}">
                {% csrf_token %}
                <input type="hidden" />
            </form>
        </button>
        </a>
    </div>

</div>

{% endfor %}

{% endblock %}